@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
header{ 
    background-color: gray;
    color: black;
    margin-bottom: 10px;

} header h1 {
    text-align: center;
}
menu{ 
    text-align: center;
    display: none;
}
menu> ul > li > a{
    background-color: rgb(95, 94, 94);
    color: white;
    text-decoration: none;
    display:block;
    padding: 10px;
}
#burge{
    background-color: black;
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;

}
#burge:hover{
    background-color: rgba(255, 255, 255, 0.185);
    
}
menu > ul > li a:hover{
    background-color: rgba(255, 255, 255, 0.158);
}
menu> ul> li{
    width:100%;
    margin: 2px 0;
} 
main{
    margin: auto; 
    background-color: white;
    line-height: 1.3em;
    width:clamp(300px, 90vw, 1000px);
    padding: 10px 10px;
    border-radius: 20px;
}
main h2 {
    padding-left: 5px;
    padding:10px 0;
}
main p{
    padding: 10px 0;
    text-indent: 10px;
    text-align: justify;
}