@charset "UTF-8";

/* Configuracaoes gerais */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    padding: 20px;
}